.modal {
    height: 100vh;
    padding: 0 !important;
    display: block !important;
}

.modal .close-modal {
    z-index: 9;
}

.modal .swiper {
    height: 100vh;
}

.modal .swiper .modal-content {
    height: 90vh;
    margin-top: 4vh;
}

.swiper-button-prev, .swiper-button-next {
    color: #A6B1E1;
    font-weight: bold;
}

.swiper-pagination-bullet-active {
    background-color: #A6B1E1;
}