@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply text-primayColor  hover:text-primayColor_Hover;
    }

    .btn {
        @apply px-4 py-2 end-2.5 bottom-2.5 font-medium border bg-primayColor text-white rounded-lg  hover:bg-primayColor_Hover hover:border hover:border-primayColor_Border_Hover;
    }

    .textSmall-gray {
        @apply text-sm text-text_secondaryColor;
    }

    .text-dark {
        @apply dark:text-slate-400;
    }

    .icon {
        @apply textSmall-gray mr-1;
    }

    .icon-text {
        @apply mr-3 text-text_secondaryColor text-xs hover:text-primayColor_Hover;
    }

    .input_field {
        @apply border border-slate-200 rounded-md outline-none focus:ring-transparent focus:border-primayColor  dark:bg-zinc-600 dark:border-zinc-400 dark:text-slate-300;
    }

    .input_readOnly {
        @apply input_field read-only:bg-slate-100 read-only:border-slate-200 dark:read-only:bg-bg_dark dark:read-only:border-gray-700;
    }

    .chk {
        color: #40798C !important;
        @apply  focus:ring-transparent;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    color: #111827;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}



option:hover {
    background-color: #40798C;
}

/* Login */

.logo-login {
    width: 170px;
}

.gif-airplane {
    max-height: 750px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drag-area {
    opacity: 0.1;
    position:absolute;
    background: white;
    width: 500px;
    height: 480px;
    border-radius: 20px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

.imgProfile{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.imgProfile-post {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.img-LikesProf {
    border-radius: 50%;
    height: 26px;
    width: 26px;
}

.img-CommentsProf {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.btn-reactions:hover #reactions{
    visibility: visible;
    opacity: 1;
    top: -25px;
    transition: all 0.4s ease-in-out;
}

/* Tooltips */

.tooltip-container {
    visibility: hidden;
    position: absolute;
    background-color: white;
    opacity: 0;
    padding: 2px;
    width: 80px;
    box-shadow: 1px 1px 1px 1px #d5d7da;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    z-index: 10;
}

 .tooltip-top {
    top: -15px;
    left: -20px;
}

.tooltip-bottom {
    bottom: -27px;
    left: -26px;
}

.arrow-tooltip { 
    visibility: hidden;
    position: absolute;
    background-color: white;
    width: 6px;
    height: 6px;
    z-index: -1;
    color: white;
    font-size: 1px;
    transform: rotate(45deg);
}

.arrow-tlt-top { 
    bottom: -3px;
    left: 33px;
    border-right: 1px solid #d5d7da70;
    border-bottom: 1px solid #d5d7da70;
}

.arrow-tlt-bottom { 
    top: -3px;
    left: 33px;
    border-left: 1px solid #d5d7da70;
    border-top: 1px solid #d5d7da70;
}

.btn-tooltip:hover .tooltip-container.tooltip-top, 
.btn-tooltip:hover .arrow-tooltip.arrow-tlt-top,
.btn-tooltip:hover .tooltip-container.tooltip-bottom, 
.btn-tooltip:hover .arrow-tooltip.arrow-tlt-bottom {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Toggle */

.switch {
    width: 40px;
    height: 25px;
    background-color: #cdd2da;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 2.5px;
    cursor: pointer;
  }
  
  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }


/* Modal Images */

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding: 25px 0; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
  }

  .modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  .close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
